*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
     background-color: rgb(175, 197, 198);
    height:100vh;
    width:100%;
     /* background: linear-gradient(to right,rgb(104, 133, 135),rgba(159, 18, 18, 0.091)); */
}
h1{
    margin-top:40px;
    text-align:center;
    font-size:40px;
}
.quiz
{
    background-color: rgb(125, 156, 157);
     width:500px;
    height:auto;
    border-radius:20px;
    padding:20px;
    font-size:20px;
    border:2px dashed;
    margin:130px auto 0px auto;
}
#question{
  display: block;
  font-weight:bold;
  font-size:23px;
}
#option{
    font-size:60px;
    display:flex;
    flex-direction:column;
    width:400px;
    margin:20px auto 0px auto;
}
.optionButtons{
    height:42px;
    margin:10px;
    border-radius:10px;
    font-size:15px;
    background-color: rgb(197, 196, 199);
}
.optionButtons:hover{
  background-color: rgb(86, 84, 84);
  color:white;
  scale:1.02;
}
#score{
    text-align:right;
}
#button{
    height:30px;
    width:70px;
    border-radius:10px;
    background-color: rgb(209, 212, 212);
    margin-left:42%;
}